<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bootstrap 实例</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/owner/bmw.css}">
    <script th:src="@{/js/core/jquery.3.2.1.min.js}"></script>
    <script th:src="@{/js/core/popper.min.js}"></script>
    <script th:src="@{/js/core/bootstrap.js}"></script>
    <script th:src="@{/js/login.js}"></script>
</head>
<body>
<div class="page-header ">
    <div class="page-header-image orange" style="background-image: url('/img/background/bg8.jpg')"></div>
    <div class="container d-flex justify-content-center align-items-center">
        <div class="w-25 ">
            <img src="/img/now-logo.png" class="py-1 w65" alt="">
            <form class="form" method="post" action="">
                <div class="content">
                    <div class="input-group py-1 ">
                        <input id="userName" type="text" class="form-control  radius-1" placeholder="name">
                    </div>
                    <div class="input-group py-1 ">
                        <input id="password" type="password" class="form-control  radius-1"/>
                    </div>
                </div>
                <div class="py-5 text-center ">
                    <button id="btn_login" type="button" class="btn btn-primary btn-lg btn-block radius-1">
                        登陆
                    </button>
                </div>
                <div id="errorMsg" class="alert alert-danger text-center" style="display:none;"></div>
                <div class="float-left">
                    <h6>
                        <a href="#pablo" class="link-white">注 册</a>
                    </h6>
                </div>
                <div class="float-right">
                    <h6>
                        <a href="#pablo" class="link-white">帮助?</a>
                    </h6>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $('#btn_login').click(function () {
        let data ={
            userName: 'chris',
            password: 'password'
        };
        $.ajax({
                type: 'post',
                url: '/login/doLogin',
                cache: false,
                data: data,  //重点必须为一个变量如：data
                success: function (response) {
                    alert(response.data);
                    if(response.code == '000000'){
                        window.open(response.data, '_self');
                    }else{
                        $("#errorMsg").html(response.msg).show();
                    }
                },
                error: function () {
                    alert("请求失败")
                }
            }
        )
    });
</script>
</body>
</html>